html {
	--pst-icon-admonition-default: ;
	--pst-color-link: #5D00C6;
}

html[data-theme=light] {
	--pst-color-link: #5D00C6;
	--pst-color-link-hover: #E7D2FF;

	--pst-color-primary: #5D00C6;
}

:root, [data-bs-theme=light] {
	--bs-link-color: #5D00C6;
	--bs-link-hover-color: #E7D2FF;
	--bs-primary: #5D00C6;
}

.bd-sidebar-secondary {
	visibility: hidden;
}

.prev-next-area {
	visibility: hidden;
}

.bd-header-article {
	visibility:hidden;
}

div.abstract {
	border-left-color: #5D00C6;
}

div.abstract .admonition-title {
	background-color: #E7D2FF;
}	