html {
	--pst-icon-admonition-default: ;
	--pst-color-link: #260859;

	--pst-font-family-heading: Georgia, serif;
}

html[data-theme=light] {
	--pst-color-link: #7d6b9b;
	--pst-color-link-hover: #ffd200;

	--pst-color-primary: #ffd200;
}

.bd-sidebar-secondary {
	visibility: hidden;
}

.prev-next-area {
	visibility: hidden;
}


.bd-header-article div.dropdown {
	visibility: hidden;
}

.bd-header-article .theme-switch-button {
	visibility: hidden;
}

.bd-header-article .btn.btn-sm.btn-fullscreen-button {
	visibility: hidden;
}

.bd-header-article .btn.btn-sm.navbar-btn.search-button.search-button_button {
	visibility: hidden;
}

.bd-article-container h1 {
	color: #260859;
}

.bd-article-container h2 {
	color: #7d6b9b;
}

.bd-article-container h3 {
	color: #7d6b9b;
}

div.abstract {
	border-left-color: #7d6b9b;
}

div.abstract .admonition-title {
	background-color: #E7D2FF;
}	

.column {
	flex: 33%;
}

.row {
	display: flex;
}

footer.bd-footer-content .bd-footer-content__inner p.component-author {
	visibility: hidden;
}